.issues.l--container.l--margin-top-xl.l--margin-bottom-xl
    .issues--covers
        .cover
            img(src="images/cover-1.jpg")
        .cover
            img(src="images/cover-2.jpg")
        .cover
            img(src="images/cover-3.jpg")
    .issues--text
        h1.t--size-l.t--family-condensed Purchase Past Issues
        p.t--size-s Buy Original Single Issues Of WSJ., The World's Leading Luxury Magazine From The Wall Street Journal.
    .issues--cta
        a(href="#").t--family-sans.t--transform-uppercase Shop Now