.slideshow.l--container
	.slideshow--image
		img(src='https://si.wsj.net/public/resources/images/BN-XD269_MARKET_1000V_20180123174339.jpg', alt='')
		.slideshow--image-caption.t--size-s.l--margin-top-m.t--color-nickel
	.slideshow--items
		.slideshow--top
			.slideshow--items-main
			.slideshow--items-secondary
		.slideshow--bottom
			.card.card--horizontal.card--small
				.card--text
					.t--family-sans.t--size-xs.t--weight-light.t--transform-uppercase.t--kering-m.l--margin-bottom-s Design
					.t--family-condensed.t--size-l.l--margin-bottom-m Why You’ll Want to Visit Rotterdam in 2018
					.divider--small.l--margin-bottom-m
					.t--family-serif.t--size-s.l--margin-bottom-l.t--color-nickel
						| The Netherlands’ “second city” is attracting a fleet of designers, artists and architects who are reshaping the Dutch city into an epicenter of urban innovation.
				.card--image
					img(src='images/5.jpg', alt='')
			.card.card--horizontal.card--small
				.card--text
					.t--family-sans.t--size-xs.t--weight-light.t--transform-uppercase.t--kering-m.l--margin-bottom-s Style
					.t--family-condensed.t--size-l.l--margin-bottom-m This Season's Artisanal Style for Men
					.divider--small.l--margin-bottom-m
					.t--family-serif.t--size-s.l--margin-bottom-l.t--color-nickel
						| Fashion takes a craftsman style approach with intricate knitwear, fresh patterns and patchwork.
				.card--image
					img(src='images/4.jpg', alt='')
