:root {
    --l--grid-width: 1260px;
    --l--space-l: 20px;
    --l--space-m: 10px;
    --l--space-s: 5px;
}

.l--container {
    max-width:  var(--l--grid-width);
    margin: 0 auto;
}

.l--margin-l { margin: var(--l--space-l); }

.l--margin-top-l { margin-top: var(--l--space-l); }
.l--margin-right-l { margin-right: var(--l--space-l); }
.l--margin-bottom-l { margin-bottom: var(--l--space-l); }
.l--margin-left-l { margin-left: var(--l--space-l); }

.l--padding-l { padding: var(--l--space-l); }

.l--padding-top-l { padding-top: var(--l--space-l); }
.l--padding-right-l { padding-right: var(--l--space-l); }
.l--padding-bottom-l { padding-bottom: var(--l--space-l); }
.l--padding-left-l { padding-left: var(--l--space-l); }

.l--margin-m { margin: var(--l--space-m); }

.l--margin-top-m { margin-top: var(--l--space-m); }
.l--margin-right-m { margin-right: var(--l--space-m); }
.l--margin-bottom-m { margin-bottom: var(--l--space-m); }
.l--margin-left-m { margin-left: var(--l--space-m); }

.l--padding-m { padding: var(--l--space-m); }

.l--padding-top-m { padding-top: var(--l--space-m); }
.l--padding-right-m { padding-right: var(--l--space-m); }
.l--padding-bottom-m { padding-bottom: var(--l--space-m); }
.l--padding-left-m { padding-left: var(--l--space-m); }

.l--margin-s { margin: var(--l--space-s); }

.l--margin-top-s { margin-top: var(--l--space-s); }
.l--margin-right-s { margin-right: var(--l--space-s); }
.l--margin-bottom-s { margin-bottom: var(--l--space-s); }
.l--margin-left-s { margin-left: var(--l--space-s); }

.l--padding-s { padding: var(--l--space-s); }

.l--padding-top-s { padding-top: var(--l--space-s); }
.l--padding-right-s { padding-right: var(--l--space-s); }
.l--padding-bottom-s { padding-bottom: var(--l--space-s); }
.l--padding-left-s { padding-left: var(--l--space-s); }