
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 15px 10px;
    border-bottom: 1px solid var(--c--silver);
    background: white;
    z-index: 999;
}

.nav svg {
    fill: var(--c--jet);
}

.nav--menu,
.nav--user {
    width: 24px;
    height: 24px;
}

.nav--logo {
    width: 230px;
    height: auto;
}
